body {
  margin: 0;
  padding: 0;
 height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-icon {
    position: fixed;
    right: 2%;
    font-size: 30px;
    color: #fff;
    cursor: pointer !important;
    bottom: 6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2px 9px;
    border-radius: 50%;
    background: #2046cf;
    line-height: 45px;
}
.floating-icon:hover{
    opacity: 0.5;
}
  .tippy-box[data-theme~='custom'] {
            background: #2046cf;
            color: #fff; 
           
            width: 100%;
            height: 100%;
        }
        .tippy-box[data-theme~='customone'] {
            transition: 0.5s ease-in-out;
        }
          
        .tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
            border-top-color: #2046cf; 
        }
        .tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
            border-bottom-color: #2046cf; 
        }
        .tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
            border-left-color: #2046cf; 
        }
        .tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
            border-right-color: #2046cf;
        }
 .delete-icon {
    font-size: 30px;
    background-color: red;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 56px;
    padding: 0px 10px;
}

.hide {
    display: none;
}